.banner-sec {
    position: relative;

    & .row {
        align-items: flex-start;
    }

    & .info {
        text-align: left;
        left: 0;
        padding: 5.938rem 9.063rem;
        display: flex;
        align-items: center;
        height: 100%;

        & h1 {
            font-size: 3.375rem;
            line-height: 3.375rem;
            color: $primary-color;
            text-align: left;
            margin-bottom: 20px;
            font-family: "MyriadPro-BoldSemiCn";
        }

        & .desc {
            & p {
                font-size: 1.875rem;
                line-height: 2rem;
                margin-bottom: 25px;
                color: $white-color;
                font-family: "MyriadPro-Semibold";

                sup {
                    font-size: 50%;
                    font-family: "MyriadPro-Light";
                    top: -0.7em;
                }
            }

            & a {
                &.btn-primary {
                    margin: 0;
                    background: none;
                    padding: 0;
                    font-size: 1rem;
                    line-height: 1rem;
                    border: 0;
                    border-bottom: solid 1px #fff;
                    font-family: "MyriadPro-Regular";

                    &:hover {
                        background: none;
                    }

                    &::after {
                        content: ">";
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.content-area {
    &.contenthome {
        margin-bottom: 0;
        background: #f5f5f5;

        & .container {
            max-width: 100%;

            & .col-12 {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;

                & p {
                    text-align: center;
                    width: 100%;
                    margin: 0;

                    &:first-child {
                        font-size: 2.125rem;
                        line-height: 2.125rem;
                        padding: 1.875rem 0;
                        font-family: "MyriadPro-Semibold";
                        color: $primary-color;
                        width: 56%;
                        margin: 0 auto;

                        & sup {
                            // font-family: "MyriadPro-Light";
                            font-size: 40%;
                            top: -0.9em;

                            &.headersup {
                                font-size: 45%;
                                left: 2px;
                                font-family: "MyriadPro-Light";
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $tabMinwidth) and (max-width: $tabMaxwidth) {
    .banner-sec {
        & .info {
            padding: 2.5rem 3.125rem;

            & h1 {
                font-size: 2.5rem;
                line-height: 2.625rem;
            }

            & .desc {
                & p {
                    margin-bottom: 15px;
                    font-size: 1.563rem;
                    line-height: 1.688rem;
                }
            }
        }
    }

    .content-area {
        &.contenthome {
            & .container {
                & .col-12 {
                    & p {
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .banner-sec {
        & .row {
            align-items: flex-start;
        }

        & .info {
            padding: 1.875rem 1.25rem;
            align-items: flex-start;

            & h1 {
                font-size: 2rem;
                line-height: 2.25rem;
                margin-bottom: 10px;
            }

            & .desc {
                & p {
                    font-size: 1rem;
                    line-height: 1rem;
                    margin-bottom: 10px;
                }

                & a {
                    &.btn-primary {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

    .content-area {
        &.contenthome {
            & .container {
                & .col-12 {
                    & p {
                        &:first-child {
                            font-size: 1.5rem;
                            width: 100%;
                            line-height: 1.625rem;
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}
