body {
    font: 100% $font-stack;
    color: $text-color;
    /*max-width: 1200px;*/
    margin: 0 auto;

    & main {
        position: relative;
    }
}

/* Paragraph Settings */

p {
    font-size: $p-fontSize;
}

a {
    &.btn-primary {
        background: $secondary-color;
        border: solid 1px $secondary-color;
        border-radius: 0px;
        text-align: center;
        font-family: "MyriadPro-Semibold";
        position: relative;
        font-size: 1rem;
    }

    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
    }
}

b,
strong {
    font-weight: bolder;
    font-family: MyriadPro-Bold;
}

@media only screen and (max-width: $mobileMaxwidth) {
    p {
        font-size: $p-fontSize-mobile;
    }
}

@media only screen and (min-width: $tabMinwidth) and (max-width: $tabMaxwidth) {
    p {
        margin-bottom: $p-bottomMargin;
        font-size: $p-fontSize-tab;
    }
}

// Background color
.grey-bg {
    background-color: #f5f5f5;
}
/* Paragraph Settings */

h1 {
    margin-bottom: $htag-bottomMargin;
    font-size: $h1-fontSize;
}

h2 {
    font-size: $h2-fontSize;
}

.contact-mobview {
    display: none;
}

@media only screen and (max-width: $mobileMaxwidth) {
    h1 {
        margin-bottom: $htag-bottomMargin;
        font-size: $h1-fontSize-mobile;
    }

    h2 {
        margin-bottom: $htag-bottomMargin;
        font-size: $h2-fontSize-mobile;
    }

    p {
        font-size: $p-fontSize-mobile;
    }

    .contact-deskview {
        display: none;
    }

    .contact-mobview {
        display: block;

        & a {
            font-size: 1rem !important;
            font-family: "MyriadPro-SemiboldCond" !important;
        }
    }
}

@media only screen and (min-width: $tabMinwidth) and (max-width: $tabMaxwidth) {
    h1 {
        margin-bottom: $htag-bottomMargin;
        font-size: $h1-fontSize-tab;
    }

    h2 {
        margin-bottom: $htag-bottomMargin;
        font-size: $h2-fontSize-tab;
    }

    .contact-mobview {
        display: none;
    }
}

.twd-wrapper {
    & .promotionPopup-section {
        & span {
            padding: 5px;
            position: absolute;
            top: 0;
            right: 0;
            background: $primary-color;
            color: $textprimary-color;
            font-weight: 600;
            font-family: "urw-din-condensed";
            width: 168px;
            text-align: center;
            border-radius: 15px 0px 0px 15px;
        }
    }
}

//popup
/*OMI integration Popup start*/
body.r-banner-open {
    overflow: hidden;
}

#remediationBanner {
    background-color: #999999bf;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483646;
    width: 100%;
    height: 100%;
    display: none;
}

#remediationBanner .wrapper-block {
    padding: 15px;
    background-color: #212121;
    position: relative;
}

#remediationBanner .wrapper-block .remediation-content p {
    margin-bottom: 0;
    font-size: 16px;
    color: #ffffff;
    width: 95%;
    font-weight: normal;
}

#remediationBanner .wrapper-block .close-icon {
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 30%;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
    padding: 0;
}

#remediationBanner .wrapper-block .close-icon:focus,
#remediationBanner .wrapper-block .close-icon:active {
    outline: none;
    box-shadow: none;
}

#remediationBanner .wrapper-block .remediation-content p a {
    color: #ffffff;
    text-decoration: underline;
}

#remediationBanner .wrapper-block .remediation-content p a:hover {
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 1024px) {
    body .r-banner-open {
        margin-top: 70px;
    }
}

@media(max-width: 767px) {
    #remediationBanner .wrapper-block .close-icon {
        right: 10px;
        top: 5%;
    }

    #remediationBanner .wrapper-block {
        top: 10%;
    }
}

#onetrust-banner-sdk.otFlat {
    z-index: 2147483646 !important;
}

.onetrust-pc-dark-filter {
    z-index: 2147483647 !important;
}

body.r-banner-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}
/*OMI integration Popup end*/