

$mobileMaxwidth: 767px;
$tabMinwidth: 768px;
$tabMaxwidth: 1024px;
$orientation-L: landscape;
$orientation-P: portrait;

@font-face {
    font-family: 'MyriadPro-Black';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Black.otf');
    // src: url('../Fonts/Ocumend/BrownStd-Italic.eot?#iefix') format('embedded-opentype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff2') format('woff2'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff') format('woff'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.ttf') format('truetype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.svg#BrownStd-Italic') format('svg');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-BoldSemiCn';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-BoldSemiCn.otf');
    // src: url('../Fonts/Ocumend/BrownStd-Italic.eot?#iefix') format('embedded-opentype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff2') format('woff2'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff') format('woff'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.ttf') format('truetype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.svg#BrownStd-Italic') format('svg');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Cond.otf');
    // src: url('../Fonts/Ocumend/BrownStd-Italic.eot?#iefix') format('embedded-opentype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff2') format('woff2'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.woff') format('woff'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.ttf') format('truetype'),
    //     url('../Fonts/Ocumend/BrownStd-Italic.svg#BrownStd-Italic') format('svg');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-BoldCond.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.svg#BrownStd-BoldItalic') format('svg');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-SemiboldCond';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-SemiboldCond.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-BoldItalic.svg#BrownStd-BoldItalic') format('svg');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Regular.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-Regular.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-Regular.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-Regular.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-Regular.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-Regular.svg#BrownStd-Regular') format('svg');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Semibold.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-Bold.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.svg#BrownStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Light.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-Bold.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.svg#BrownStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('/Styles/Alloderm2022/Fonts/MyriadPro-Bold.otf');
    // src: url('../../Fonts/Ocumend/BrownStd-Bold.eot?#iefix') format('embedded-opentype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff2') format('woff2'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.woff') format('woff'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.ttf') format('truetype'),
    //     url('../../Fonts/Ocumend/BrownStd-Bold.svg#BrownStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


$font-stack: 'MyriadPro-Regular';

/* Color */
$primary-color: #f07622;
$secondary-color: #004e72;
$text-color: #002954;
$textprimary-color: #3f3f3f;
$textsecondary-color: #545454;
$theme-color: #e2f0f8;

$white-color: #FFFFFF;

/* Color */

/* Paragraph Settings */

$p-bottomMargin: 1.875rem;
$p-fontSize: 1.25rem;
$p-fontSize-tab: 1rem;
$p-fontSize-mobile: 1rem;

/* Paragraph Settings */

/* Heading Settings */

$htag-bottomMargin: 2.188rem;

$h1-fontSize: 3.438rem;
$h2-fontSize: 1.688rem;

$h1-fontSize-mobile: 1.688rem;
$h2-fontSize-mobile: 1.625rem;

$h1-fontSize-tab: 1.625rem;
$h2-fontSize-tab: 1.625rem;

/* Heading Settings */

$componentmargin-btm: 0;
