.cookie-section {
    background: rgb(44, 86, 151);
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    text-align: center;

    & .container {
        max-width: 100%;
        color: #fff;
    }

    & .cookie-text {
        width: 100%;
        padding: 20px;

        & p {
            font-size: 14px;
        }
    }

    & .btn-primary {
        float: none;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        text-decoration: none;
        background-color: #006dcc;
    }

    & a {
        text-decoration: underline;
        display: inline-block;
    }

    &[data-iseeditor='1'] {
        & #readmore, & #readless {
            display: block !important;
        }
    }
}
/*new cookie style*/

.cookie-section {
    background: #0b4d6c;
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
}

.cookie-section .cookie-text {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
    max-width: 1080px;
}

.cookie-section .cookie-text p, .cookie-section a {
    font-family: 'MyriadPro-Regular';
    color: #fff;
    font-size: 0.9rem !important;
}

.cookie-section .cookie-text p {
    font-family: 'MyriadPro-Regular';
    color: #fff;
    font-size: 1rem;
    display: inline-block;
}

.cookie-section .btn-primary {
    float: right;
    text-decoration: none;
    border-radius: 6px;
    background: #ee7623;
    border: 1px solid #ee7623;
    font-family: 'MyriadPro-Regular';
    color: #fff;
    font-size: 1rem;
    margin: 10px 0px 0px 15px;
    padding: 10px 24px;
}

.cookie-text aside.cookie-expanded {
    float: none;
    width: 100%;
}

.cookie-text aside {
    width: 88%;
    float: left;
}

.cookie-section .cookie-text p:last-child {
    margin-bottom: 0px;
}

.multicolumn.new-insta1 {
    margin-bottom: 40px;
    margin-top: -25px;
}

@media only screen and (max-width: 767px) {
    .cookie-section .cookie-text {
        width: 95%;
        text-align:center;

    }

    .cookie-text aside {
        width: 100%;
        float: left;
    }

    .cookie-section .btn-primary {
        margin-top: 0px !important;
        
    }
    .cookie-section .cookie-text p, .cookie-section a {
        font-size: 0.8rem !important;
        text-align:justify;
    }
    .cookie-section .btn-primary {
        float: none;
        padding: 10px 24px;
    }
    
}

