#cookiepopup {
    & .modal-content {
        color: $primary-color;
        font-family: 'Open Sans';
        padding: 20px 0;
    }
    & .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 4px;
        border: 2px solid $primary-color;
        &:after {
            left: 8px;
            top: -8px;
            width: 12px;
            height: 24px;
            border: solid $theme-color;
            border-width: 0 6px 6px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            box-sizing: inherit;
            content: "";
            position:absolute;
            display: none;
        }
    }

    & input {
        &:checked {
            & ~ .checkmark {
                &:after {
                    display: block;
                }
            }
        }
    }
    & .close {
        color: #FFF !important; 
        opacity: 1;
    }

    & h4 {
        &.modal-title {
            font-weight:bold;
        }
    }

    & p {
        color: $primary-color !important;
     }
     & .checkboxwrap {
        border: 1px solid $theme-color;
        width:100%;
        margin-bottom: 40px;
        & label {
            margin: 10px; 
            position:relative;
            & input[type=checkbox] {
                margin-left: 10px;
            }
            & .labeltxt {
                vertical-align: text-bottom;
            }
        }
    }
}




@media only screen and (min-width:768px) and (max-width:1024px) {
    #cookiepopup {
        & .checkboxwrap { 
            & label {
                width:45%;
                & input[type=checkbox] {
                    float:right;
                }
            }
        }
    }
	
}

@media only screen and (max-width: 767px) {
     
    
    #cookiepopup {
        & .checkboxwrap { 
            & label {
                width:92%;
                & input[type=checkbox] {
                    float:right;
                }
            }
        }
        & .btn {
            margin-bottom: 15px;
            &-primary {
                width:100%;
            }
        }
    }

	  
}