$heading-color: #004d6d;
$blue-color: #004e6d;
$orange-color: #f07622;
$gray-color: #85899a;
$bg-color1: #e6edf0;
$bg-color2: #f1e5dd;

.flip-card-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.multicolumn {
        & .row {
            & .header-section {
                & h2 {
                    text-align: center;
                    color: #f07622;
                    font-family: "MyriadPro-Semibold";
                    font-size: 2.15rem;
                    display: block;

                    & span {
                        font-family: "MyriadPro-SemiboldCond";
                        font-size: 1.85rem;
                        display: block;
                        margin: 1rem auto;
                        width: 100%;
                        color: $heading-color;
                        text-align: center;
                    }

                    & p {
                        text-align: left;
                        font-size: 1.125rem;
                        color: #3f3f3f;
                        margin: 1.5rem 0 0.85rem;
                        font-family: "MyriadPro-Regular";
                        line-height: 1.15;
                    }
                }

                & p {
                    text-align: left;
                    font-size: 1.125rem;
                    color: #3f3f3f;
                    margin: 1.5rem 0 0.85rem;
                    font-family: "MyriadPro-Regular";
                    line-height: 1.15;
                }
            }
        }

        & .item {
            padding: 0;
            display: flex;

            & > div {
                flex: 1 1 100%;
            }

            & .flip-card {
                background-color: transparent;
                perspective: 1000px;
                float: left;
                padding-right: 15px;
                position: relative;

                & .flip-card-inner {
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    position: relative;
                    flex: 1 1 100%;
                    margin-right: 15px;
                }
                // &:hover .flip-card-inner {
                //     pointer-events: none;
                // }
                & .flip-card-front,
                & .flip-card-back {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    width: 100%;

                    & .flipcard-bg {
                        width: 100%;
                    }

                    & .item {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & > div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 10px;
                        }
                    }
                }

                & .flip-card-front {
                    background-color: #bbb;
                    color: black;
                    position: absolute;

                    & .item {
                        & + div {
                            text-align: center;
                        }

                        & .item-img {
                            margin: 0 auto 10px;
                            min-height: 80px;
                        }

                        & .item-content {
                            & h2 {
                                color: #004e6d;
                                font-size: 30px;
                                font-family: "MyriadPro-SemiboldCond";
                                text-align: center;
                                margin: 0;
                                line-height: 32px;
                            }
                        }
                    }
                }

                & .flip-card-back {
                    background-color: dodgerblue;
                    color: white;
                    transform: rotateY(180deg);
                    background-size: contain;

                    & .item {
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-top: 1.5rem;

                        & .item-img {
                            display: none;
                        }

                        & .item-content {
                            margin-top: 10px;

                            & h2 {
                                font-size: 24px;
                                font-family: "Myriadpro-SemiBold";
                                line-height: 26px;
                                color: $orange-color;
                            }

                            & p {
                                font-size: 18px;
                                font-family: "Myriadpro-Regular";
                                line-height: 22px;
                                color: #fff;
                                max-width: 90%;
                                margin: 10px auto;
                            }
                        }
                    }
                }
            }

            & .flip-card {
                padding: 0;
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                width: 100%;

                &:only-child {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    -webkit-flex: 0 0 100%;
                    max-width: 100%;
                }

                &:first-child:nth-last-child(2) {
                    width: 50%;
                }

                &:first-child:nth-last-child(2) ~ .flip-card {
                    width: 50%;
                }
                /* three items */
                &:first-child:nth-last-child(3) {
                    width: 33%;
                }

                &:first-child:nth-last-child(3) ~ .flip-card {
                    width: 33%;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .flip-card-section {
        padding-top: 1.5rem;

        &.multicolumn {
            & .row {
                & .header-section {
                    & h2 {
                        font-size: 2rem;

                        & span {
                            font-size: 1.5rem;
                        }

                        & p {
                            text-align: center;
                            font-size: 1.125rem;
                        }
                    }

                    & p {
                        text-align: center;
                        font-size: 1.125rem;
                    }
                }
            }

            & .item {
                padding: 0;
                display: flex;
                flex-direction: column;
                max-width: 90%;
                margin: 0 auto;

                & > div {
                    flex: 1 1 100%;
                }

                & .flip-card {
                    &:only-child {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        -webkit-flex: 0 0 100%;
                        max-width: 100%;
                    }

                    &:first-child:nth-last-child(2) {
                        width: 100%;
                    }

                    &:first-child:nth-last-child(2) ~ .flip-card {
                        width: 100%;
                    }
                    /* three items */
                    &:first-child:nth-last-child(3) {
                        width: 100%;
                    }

                    &:first-child:nth-last-child(3) ~ .flip-card {
                        width: 100%;
                    }
                }

                & .flip-card {
                    & .flip-card-inner {
                        width: 90% !important;
                        margin: 10px auto;
                    }

                    & .flip-card-back,
                    & .flip-card-front {
                        & .item {
                            max-width: 100%;
                            width: 100%;
                            margin: 1rem auto;
                        }
                    }

                    & .flip-card-front {
                        & .item {
                            & + div {
                                text-align: center;
                            }

                            & .item-img {
                                margin: 0 auto 10px;
                                min-height: 1px;
                            }

                            & .item-content {
                                & h2 {
                                    font-size: 26px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }

                    & .flip-card-back {
                        & .item {
                            & > div {
                                justify-content: flex-start;
                            }

                            & .item-img {
                                display: none;
                            }

                            & .item-content {
                                margin: 1.5rem auto;

                                & h2 {
                                    font-size: 24px;
                                    line-height: 26px;
                                    margin-bottom: 1rem;
                                }

                                & p {
                                    font-size: 18px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.cell-population-flip,
.minimal-inflamation-flip {
    &.flip-card-section {
        & .row {
            & .header-section {
                & h2 {
                    font-size: 1.875rem;
                    color: $secondary-color;
                    font-family: "MyriadPro-SemiboldCond";
                    margin-bottom: 1.5rem;
                }
            }

            & .footer-note {
                margin-left: 0px;

                & p {
                    font-family: "MyriadPro-Regular";
                    color: #3f3f3f;
                    display: block;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.scar-formation-lack-flip {
    & .row {
        & .container {
            & .row {
                & .col-12 {
                    & .footer-note {
                        margin-left: 0px;

                        & p {
                            font-family: "MyriadPro-Regular";
                            color: #3f3f3f;
                            display: block;
                            margin-top: 1rem;
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
}

.blue-heading-flip,
.pliability,
.lack-of-resorption,
.negative-effects {
    &.flip-card-section {
        & .row {
            & .header-section {
                & h2 {
                    font-size: 1.875rem;
                    color: $secondary-color;
                    font-family: "MyriadPro-SemiboldCond";
                    margin-bottom: 1.5rem;
                }
            }

            & .footer-note {
                margin-left: 0px;

                & p {
                    font-family: "MyriadPro-Regular";
                    color: #3f3f3f;
                    display: block;
                    margin-top: 1rem;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .multicolumn {
        &.flip-card-section {
            & .row {
                & .header-section {
                    text-align: center;
                    margin: 0 auto;
                    width: 95%;
                }
            }
        }
    }

    .cell-population-flip,
    .minimal-inflamation-flip,
    .scar-formation-lack-flip,
    .lack-of-resorption,
    .pliability {
        &.flip-card-section {
            & .row {
                & .footer-note {
                    & p {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .flip-card-section {
        &.multicolumn {
            & .item {
                & .flip-card {
                    & .flip-card-front {
                        & .item {
                            & .item-content {
                                & h2 {
                                    font-size: 20px;
                                    margin: 0 auto;
                                    line-height: 1;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    & .flip-card-back {
                        & .item {
                            & .item-content {
                                & h2 {
                                    font-size: 18px;
                                    margin: 0 auto;
                                    line-height: 1;
                                    width: 100%;
                                    margin-bottom: 0.5rem;
                                }

                                & p {
                                    font-size: 14px;
                                    margin: 0 auto;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
