.multicolumn {
    & .row {
        & .header-section {
            & h2 {
                font-family: "MyriadPro-SemiboldCond";
                font-size: 1.875rem;
                color: $secondary-color;
                margin: 0 auto;
            }
        }
    }

    &.whitebg-portitem1 {
        padding-bottom: 1.25rem;
        border-bottom: solid 3px #f5f5f5;

        & .row {
            & .header-section {
                & h2 {
                    line-height: 2.125rem;
                    width: 60%;
                }
            }

            &:nth-child(2) {
                margin: 0 auto;
                width: 965px;
                text-align: center;
                display: flex;
                justify-content: center;

                & .item {
                    width: 200px;
                    margin: 0 auto;
                    padding: 0;
                    margin: 0;
                    margin-right: 40px;

                    & .item-img {
                        width: 200px;
                    }

                    &:nth-child(4) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    &.whitebg-portitem2,
    &.whitebg-portitem3,
    &.whitebg-portitem4,
    &.whitebg-portitem5 {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;

        & .row {
            & .header-section {
                & h2 {
                    margin-bottom: 2.188rem;
                }
            }
        }
    }

    &.whitebg-portitem3,
    &.whitebg-portitem4,
    &.whitebg-portitem5 {
        padding-top: 0;
    }
}

.content-area {
    &.contentportfolio {
        padding-top: 4.063rem;
        padding-bottom: 5.625rem;
        text-align: center;

        & p:first-child,
        & h1 {
            font-size: 2.125rem;
            color: $primary-color;
            font-family: "MyriadPro-Semibold";
            width: 68%;
            margin: 0 auto;
            margin-bottom: 15px;

            & sup {
                font-family: "MyriadPro-Light";
                font-size: 42%;
                top: -0.8em;
            }
        }

        & p:last-child {
            font-size: 1rem;
            color: #231f20;
            font-family: "MyriadPro-Regular";
            width: 65%;
            margin: 0 auto;

            & sup {
                font-family: "MyriadPro-Light";
                font-size: 42%;
                top: -0.8em;
            }

            & a {
                color: #004e6d;
                border-bottom: solid 1px #004e6d;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and (min-width: $tabMinwidth) and (max-width: $tabMaxwidth) {
    .multicolumn {
        &.whitebg-portitem1 {
            & .row {
                & .header-section {
                    & h2 {
                        width: 85%;
                    }
                }

                &:nth-child(2) {
                    width: 690px;

                    & .item {
                        width: 150px;
                        margin-right: 20px;

                        & .item-img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }

    .content-area {
        &.contentportfolio {
            & p:first-child,
            & p:last-child,
            & h1 {
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .multicolumn {
        &.whitebg-portitem1,
        &.whitebg-portitem2,
        &.whitebg-portitem3,
        &.whitebg-portitem4,
        &.whitebg-portitem5 {
            & .row {
                & .header-section {
                    & h2 {
                        font-size: 1.25rem;
                        margin-bottom: 1.563rem;
                    }
                }

                & .item {
                    & > div {
                        padding: 0 20px;
                    }
                }
            }
        }

        &.whitebg-portitem1 {
            & .row {
                & .header-section {
                    & h2 {
                        line-height: 1.375rem;
                        width: 100%;
                        margin-bottom: 0;
                    }
                }

                &:nth-child(2) {
                    width: 100%;

                    & .item {
                        width: 135px;
                        margin: 0;

                        & > div {
                            padding: 0;
                        }

                        & .item-img {
                            width: 135px;
                        }
                    }
                }
            }
        }
    }

    .content-area {
        &.contentportfolio {
            padding-top: 2.5rem;
            padding-bottom: 4.063rem;

            & p:first-child,
            & h1 {
                font-size: 1.5rem;
                width: 90%;
            }

            & h2 {
                font-size: 1.5rem;
                width: 90%;
            }

            & p:last-child {
                width: 90%;
            }
        }
    }
}
