.modal {
    & .modal-dialog {
        // max-width: 870px;
        max-width: 730px;

        & .modal-content {
            // min-height: 500px;
            padding: 0.75rem 1.5rem;
            text-align: center;
            border-radius: 0;
            border: 0;
            border-top: solid 5px $primary-color;

            & .modal-header {
                border-bottom: none !important;

                & .close {
                    padding: 0;
                    color: #004e72;
                    font-family: "MyriadPro-Bold";
                    font-size: 25px;
                    font-weight: 400;
                    opacity: 1;
                }
            }

            & .modal-body {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                padding: 0;

                & h5,
                & h2 {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    font-family: "MyriadPro-Bold";
                    color: $secondary-color;
                    margin-bottom: 1rem;
                }

                & p {
                    font-family: "MyriadPro-Regular";
                    font-size: 1rem;
                    color: #000000;
                    margin-bottom: 1rem;
                }
            }

            & .modal-footer {
                width: 100%;
                border: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                margin-bottom: 30px;

                & a,
                & button {
                    width: 200px;
                    padding: 10px 0;
                    border: solid 1px $secondary-color;
                    background: $secondary-color;
                    color: $white-color;
                    font-family: "MyriadPro-SemiBold";
                    font-size: 1rem;
                    margin: 0;

                    & span {
                        font-size: 1.2rem;
                        font-family: "MyriadPro-Regular";
                        margin: 5px 3px;
                    }

                    &:last-child {
                        background: $primary-color;
                        text-decoration: none;
                    }
                }

                & a {
                    order: 2;
                }

                & button {
                    order: 1;
                    margin-right: 20px;
                }
            }
        }
    }

    &#modalHcp-portfolio {
        & .modal-dialog {
            & .modal-content {
                & .modal-body {
                    & p {
                        width: 60%;
                    }

                    & p:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    &#modalOrder {
        z-index: 9999;
        top: 80px;

        & .modal-dialog {
            width: 760px;
            max-width: 760px;
            margin-top: 0;
        }

        & .modal-header {
            border-bottom: none;
            display: inline-block;
        }

        & .modal-content {
            background-image: url("/-/media/project/alloderm/popup/home-order-desktop.jpg"); /*image needs to be added to SC9 media*/
            background-repeat: no-repeat;
            background-size: contain;
            height: 478px;
            width: 760px;
            background-color: transparent;
            top: 0;
            position: absolute;
            border-top: 0px;
        }

        & .close {
            position: absolute;
            top: 12px;
            right: 12px;
            height: 8px;
            width: 6px;
        }

        & .modal-footer {
            display: none;
        }
    }

    &#comingSoonPopup {
        overflow-y: hidden;

        & .modal-dialog {
            position: relative;
            margin-top: 3.5rem;

            & .modal-header {
                position: absolute;
                display: block;
                background-color: transparent;
                border-bottom: none;
                right: 0px;
                z-index: 9999;
                margin-top: -0.75rem;

                & button {
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                & img {
                    position: absolute;
                    width: 26px !important;
                    height: 26px;
                    right: 0px;
                }
            }

            & .modal-body {
                display: none;
            }

            & .modal-content {
                padding-top: 0;
                padding-bottom: 0;
                border-top: 0;
                background-color: transparent;

                & img {
                    width: 100%;
                }

                & .modal-footer {
                    & .hover {
                        display: none;
                    }

                    & button {
                        display: none;
                    }
                }
            }
        }
    }

    &#video_popup {
        z-index: 9999;
        top: 80px;

        & .modal-dialog {
            width: 760px;
            max-width: 760px;
            margin: 0 auto;
        }

        & .modal-header {
            border-bottom: none;
            display: inline-block;
        }

        & .modal-content {
            background-color: transparent;
            border-top: 0px;
            padding: 0;

            & .modal-body {
                margin: 0;

                & #videomodalframe {
                    --video--width: 760;
                    --video--height: 400;
                    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
                    overflow: hidden;
                    max-width: 100%;

                    & iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        & .close {
            position: absolute;
            top: 20px;
            right: 12px;
            height: 8px;
            width: 6px;

            &:focus {
                outline: none;
            }
        }

        & .modal-footer {
            display: none;
        }
    }

    &#modalHcp-peforated {
        z-index: 999999;

        & .modal-dialog {
            & .modal-header {
                & .close {
                    cursor: pointer;
                }
            }
        }

        & .item {
            & .item-img {
                width: 50%;
                float: left;
            }

            & .item-content {
                width: 50%;
                float: left;
                padding-left: 20px;

                & h2 {
                    text-align: left;

                    & sup {
                        font-size: 60%;
                    }

                    & span {
                        display: block;
                        width: 100%;
                        font-size: 22px;
                    }
                }

                & p {
                    text-align: left;
                    color: #f07724;
                    font-size: 20px;
                    font-family: "MyriadPro-Semibold";

                    & span {
                        display: block;
                        width: 100%;
                        color: #000000;
                        font-family: "MyriadPro-Regular";
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.content-area {
    &.error-item {
        & .col-12 {
            & .row {
                padding: 75px 115px 100px;

                & p:first-child {
                    font-family: "MyriadPro-Semibold";
                    font-size: 2.125rem;
                    line-height: 2.125rem;
                    color: $primary-color;
                    margin-bottom: 18px;
                }

                & p:last-child {
                    font-family: "MyriadPro-Regular";
                    font-size: 1rem;
                    line-height: 1.375rem;
                    color: #231f20;
                    margin: 0;
                    width: 76%;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .modal {
        & .modal-dialog {
            margin: 0 auto;
            max-width: 280px;

            & .modal-content {
                padding: 1.25rem;
                min-height: 265px;

                & .modal-body {
                    width: 100%;
                    justify-content: start;

                    & h5,
                    & h2 {
                        font-size: 17px;
                        line-height: 19px;
                        margin-bottom: 20px;
                    }

                    & p {
                        font-size: 16px;
                        line-height: 18px;
                        margin-bottom: 15px;
                    }
                }

                & .modal-footer {
                    flex-direction: column;

                    & a,
                    & button {
                        width: 130px;
                        font-size: 14px;
                        margin: 0 0 20px 0;
                        text-align: center;
                    }

                    & a {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }
        }

        &#modalHcp-portfolio {
            & .modal-dialog {
                & .modal-content {
                    & .modal-body {
                        & h5,
                        & h2 {
                            line-height: 1.875rem;
                        }

                        & p {
                            width: 100%;
                        }
                    }
                }
            }
        }

        &#modalOrder {
            top: 54px;

            & .modal-dialog {
                width: 320px;
            }

            & .modal-content {
                background-image: url("/-/media/project/alloderm/popup/home-order-mobile.jpg"); /*image needs to be added to SC9 media*/
                background-repeat: no-repeat;
                height: 501px;
                width: 320px;
            }

            & .close {
                height: 20px;
                width: 20px;
                margin-top: -13px;
                margin-right: -15px;
            }
        }

        &#comingSoonPopup {
            .modal-dialog {
                .modal-header {
                    img {
                        width: 20px !important;
                        height: 20px;
                        right: 16px;
                    }
                }

                & .modal-content {
                    .modal-footer {
                        & .desktopImage {
                            display: none;
                        }

                        & .hover {
                            display: block;
                        }
                    }
                }
            }
        }

        &#video_popup {
            top: 30%;

            & .modal-dialog {
                width: 320px;
            }

            & .modal-content {
                & .modal-body {
                    & #videomodalframe {
                        --video--width: 320;
                        --video--height: 120;
                    }
                }
            }
        }
    }

    &#modalHcp-peforated {
        & .item {
            & .item-img,
            & .item-content {
                width: 100% !important;
                float: left;
            }
        }
    }

    .content-area {
        &.error-item {
            & .col-12 {
                & .row {
                    padding: 40px 20px;

                    & p:first-child {
                        font-size: 1.5rem;
                        line-height: 1.625rem;
                    }

                    & p:last-child {
                        width: 100%;
                        line-height: 1.25rem;
                    }
                }
            }
        }
    }
}
