.content-area {
    &.contentportfolio-footer {
        background-color: #f5f5f5;
        padding-top: 20px;

        & p {
            font-family: "MyriadPro-Regular";
            font-size: 21px;
            color: #231f20;

            & sup {
                font-size: 60%;
                font-family: "MyriadPro-Regular";
            }

            & a {
                color: #ef7723;
                border-bottom: 2px solid #ef7723;
                text-decoration: none;

                & sup {
                    text-decoration: none;
                }
            }

            & span {
                margin-top: 20px;
                font-size: 14px;
                display: block;
                width: 100%;

                & sup {
                    font-size: 60%;
                    font-family: "MyriadPro-Regular";
                }
            }
        }
    }
}

.multicolumn {
    &.graftable {
        background: #f5f5f5;

        & .row {
            & .header-section {
                & h2 {
                    color: #004e72;
                }
            }
        }
    }

    &.perforated-sec {
        background: #f5f5f5;
        margin-top: 30px;

        & .container {
            padding: 40px 0;

            & .item {
                margin-top: 20px;

                & > div {
                    margin: 0 auto;

                    & .item-img,
                    & .item-content {
                        display: inline-block;

                        & a {
                            & img {
                                padding-bottom: 8px;
                                padding-right: 5px;
                            }
                        }

                        & h2 {
                            & a {
                                color: #f07724;
                                border-bottom: 2px solid #f07724;

                                & sup {
                                    font-size: 60%;
                                    font-family: "MyriadPro-Regular";
                                }

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.splitter {
    &.contentportfolio {
        background-color: #f5f5f5;

        & h2, & h1 {
            font-family: "MyriadPro-Semibold";
            font-size: 1.875rem;
            color: #f07622;
            margin: 0 auto;
            width: 60%;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;

            & sup {
                font-size: 60%;
                font-family: "MyriadPro-Semibold";
                top: -0.45em;
            }
        }

        & p {
            text-align: left;
            font-size: 21px;
            color: #231f20;
            width: 100%;
            font-family: "MyriadPro-Regular";

            & sup {
                font-size: 60%;
            }

            & span {
                display: inline-block;
                width: 100%;
                text-align: center;
                color: #f07622;
                font-family: "MyriadPro-Bold";
                margin-top: 20px;

                & sup {
                    font-size: 60%;
                    font-family: "MyriadPro-Bold";
                }
            }
        }

        & .block1 {
            & .multicolumn {
                & .row {
                    display: block;
                }
            }

            margin-left: 10%;

            & .item {
                width: 350px;
                background-color: #ffffff;
                margin-bottom: 10px;

                & .item-content,
                & .item-img {
                    display: inline-block;
                    vertical-align: middle;

                    & img {
                        width: 60px;
                        margin-left: 20px;
                    }
                }

                & .item-content {
                    & h2 {
                        color: #004e6d;
                        font-family: "MyriadPro-SemiboldCond";
                        font-size: 24px;
                        text-align: left;
                        margin-left: 20px;
                        width: 210px;
                    }
                }
            }
        }

        & .block2 {
            margin-left: 100px;

            & .item {
                & .item-img {
                    margin-top: 10%;
                }
            }
        }
    }

    &.implantable {
        & h2 {
            font-family: "MyriadPro-Bold";
            font-size: 21px;
            color: #f07622;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        & p {
            font-family: "MyriadPro-SemiboldCond";
            font-size: 30px;
            color: #004e6d;
        }

        & .header-section {
            & h2 {
                font-family: "MyriadPro-Bold";
                font-size: 21px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 932px) {
    .splitter {
        &.contentportfolio {
            & p {
                text-align: center;
            }

            & .block1 {
                margin-left: 0px;

                & .item {
                    width: 320px;

                    & img {
                        margin-left: 20px;
                    }
                }
            }

            & .block2 {
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .content-area {
        &.contentportfolio-footer {
            padding-bottom: 1rem;

            & p {
                text-align: center;
                margin: auto;
                font-size: 18px;
                max-width: 90%;

                & span {
                    margin-top: 20px;
                    font-size: 18px;
                    display: block;
                    width: 100%;
                    text-align: left;
                    text-indent: -6px;
                }
            }
        }
    }

    .multicolumn.perforated-sec .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .splitter {
        &.implantable {
            & h2 {
                max-width: 90%;
            }
        }

        &.contentportfolio {
            & p {
                text-align: center;
                font-size: 18px;
                max-width: 90%;
                margin: auto;
            }

            & h2 , & h1{
                width: 85%;
            }

            & .block1 {
                margin-left: 5%;

                & .item {
                    width: 340px;

                    & img {
                        margin-left: 20px;
                    }
                }
            }

            & .block2 {
                margin: 10px 30px;
            }
        }
    }

    .multicolumn {
        &.perforated-sec {
            & .container {
                & .item {
                    & > div {
                        margin: 0 auto;

                        & .item-img,
                        & .item-content {
                            display: inline-block;

                            & a {
                                & img {
                                    padding-bottom: 8px;
                                    padding-right: 5px;
                                }
                            }

                            & h2 {
                                font-size: 1.2rem;
                                margin-bottom: 0px;

                                & a {
                                    color: #f07724;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
