.splitter {
    &.resorption-lack {
        & .row {
            & .container {
                & .row {
                    & h2 {
                        width: 100%;
                        text-align: center;
                        color: #f07622;
                        font-family: "MyriadPro-BoldSemiCn";
                        font-size: 1.5rem;
                        margin-top: 0.25rem;
                        margin-bottom: 0.25rem;

                        & sup {
                            font-size: 65%;
                        }
                    }

                    & section {
                        & h2 {
                            font-size: 1.125rem;
                        }
                    }

                    & p {
                        text-align: left;
                        display: block;
                        font-size: 1.125rem;
                        line-height: 1.1;
                        color: #3f3f3f;
                        font-family: "MyriadPro-Regular";
                        margin-top: 1rem;

                        & sup {
                            font-size: 65%;
                        }
                    }

                    & .item-img-footer {
                        & p {
                            text-align: center;
                        }
                    }

                    & .block1 {
                        max-width: 40%;
                        width: 40%;
                    }

                    & .block2 {
                        max-width: 60%;
                        width: 60%;
                    }
                }
            }
        }
    }

    &.pliability-splitter {
        & .row {
            & .container {
                & .row {
                    justify-content: center;

                    & p {
                        width: 100%;
                        text-align: center;
                        color: #f07622;
                        font-family: "MyriadPro-BoldSemiCn";
                        font-size: 1.5rem;
                        margin-top: 0.25rem;
                        margin-bottom: 0.25rem;
                        width: 100%;

                        & sup {
                            font-size: 65%;
                        }
                    }

                    & h2 {
                        text-align: left;
                        display: block;
                        font-size: 1.5rem;
                        line-height: 1.1;
                        color: #3f3f3f;
                        font-family: "MyriadPro-Regular";
                        margin-top: 1rem;
                        width: 90%;

                        & sup {
                            font-size: 65%;
                        }
                    }

                    & .block1 {
                        max-width: 35%;
                        width: 35%;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-top: 20px;

                        & .pliability-zoom {
                            & .section-header-content,
                            & .header-section {
                                display: none;
                            }

                            .multicolumn-section {
                                & .item {
                                    & .image-container {
                                        & .image {
                                            text-align: center;
                                        }
                                    }
                                }

                                & .item-img-footer {
                                    font-size: 0.9rem;
                                    text-align: center;
                                    max-width: 95%;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }

                    & .block2 {
                        max-width: 41%;
                        width: 41%;
                        margin-top: 40px;

                        & .content-area {
                            & .row {
                                & .container {
                                    & .row {
                                        & p {
                                            text-align: left;
                                            display: block;
                                            font-size: 1.125rem;
                                            line-height: 1.1;
                                            color: #3f3f3f;
                                            font-family: "MyriadPro-Regular";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.contentportfolio {
        & .block2 {
            & .multicolumn {
                & .item {
                    padding: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .splitter {
        &.pliability-splitter,
        &.resorption-lack {
            & .row {
                & .container {
                    & > .row {
                        margin: 0;
                    }

                    & .row {
                        & p {
                            font-size: 1rem;
                            max-width: 100%;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }

                        & h2 {
                            font-size: 1.5rem;
                            max-width: 75%;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }

        &.resorption-lack {
            & .row {
                & .container {
                    & .row {
                        & .block1,
                        & .block2 {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        &.pliability-splitter {
            & .row {
                & .container {
                    & > .row {
                        margin: 0;
                    }

                    & .row {
                        & h2 {
                            font-size: 1rem;
                            max-width: 100%;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }

                        & p {
                            font-size: 1.5rem;
                            max-width: 75%;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }

                        & .block1,
                        & .block2 {
                            width: 100%;
                            max-width: 100%;
                            margin-top: 0;
                        }

                        & .block2 {
                            & .content-area {
                                & .row {
                                    & .container {
                                        & .row {
                                            & p {
                                                max-width: 100%;
                                                width: 100%;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
