$container-max-widths: ( md: 720px, lg: 992px, xl: 992px );
@import '../../Common/code/node_modules/bootstrap/scss/bootstrap';
@import 'commonvariable';
@import 'commonstyle';
@import "../../../Feature/Cookie/code/Styles/scss/cookie";
@import "../../../Feature/Navigation/code/Styles/scss/header";
@import "../../../Feature/HeroBanner/code/Styles/scss/banner";
@import "../../../Feature/Navigation/code/Styles/scss/footer";
@import "../../../Feature/Page/code/Styles/scss/multicolumn";
@import "../../../Feature/Page/code/Styles/scss/contentarea";
@import "../../../Feature/Page/code/Styles/scss/twocolumn";
@import "../../../Feature/Page/code/Styles/scss/backtotop";
@import 'banner';
@import 'header';
@import 'multicolumn';
@import 'isi';
@import 'footer';
@import 'resources';
@import 'multicolumnportfolio';
@import 'popup';
@import 'reimbursement';
@import 'cookie-banner';
@import 'table';
@import 'contentarea';
@import 'twocolumn';
@import 'portfolio';
@import 'flip-view.scss';
@import 'zoom-view.scss';
@import 'splitter';
