.table-responsive {
    width: 78%;
    margin: 0 auto;
}

#NonMeshedAnchorSectionReference {
    & + .table-section {
        padding-bottom: 3rem;
    }
}

.table-section {
    padding: 3rem 1rem 0.5rem;

    .item {
        > div {
            width: 100%;
        }
    }

    .header-section {
        h2 {
            margin-bottom: 3rem !important;
        }
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;

        .thead-dark {
            th {
                background-color: #014d6d;
                border: none;
                font-family: "MyriadPro-SemiboldCond";
                font-size: 18px;
                text-align: center;
                padding: 1rem 0;

                &:first-child {
                    width: 25%;
                }

                &:not(:last-child) {
                    border-right: 2px solid #fff;
                }
            }
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        border-top: 0;

                        &:first-child {
                            border: 0;
                            text-align: center;
                            padding: 0.7rem 0;
                            vertical-align: text-bottom;
                        }
                    }
                }

                &.noborder {
                    td {
                        border: none !important;
                    }
                }

                td {
                    border: 1px solid #ccc;
                    vertical-align: middle;
                    padding: 0.5rem;

                    &:first-child {
                        img {
                            max-width: 8rem;
                            display: block;
                            margin: 0 auto;
                        }

                        strong {
                            display: block;
                        }
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $tabMaxwidth) {
    .table-section {
        .table {
            tbody {
                tr {
                    td {
                        &:first-child {
                            img {
                                max-width: 4rem;
                            }
                        }

                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobileMaxwidth) {
    #NonMeshedAnchorSectionReference {
        & + .table-section {
            padding-bottom: 2rem;
        }
    }

    .table-section {
        .header-section {
            h2 {
                font-size: 1.5rem !important;
            }
        }

        .mobile-product-description {
            width: 100%;
            color: #000;

            img {
                max-width: 8rem;
                display: block;
                margin: 1rem auto;
            }
        }

        .table {
            border-collapse: collapse;

            .thead-dark {
                th {
                    font-size: 0.75rem;
                    border-width: 1px;
                    padding: 0.3rem 0;
                    vertical-align: middle;

                    &:first-child {
                        display: none;
                    }
                }
            }

            tbody {
                tr {
                    &:first-child {
                        td {
                            &:first-child {
                                display: none;
                            }
                        }
                    }

                    td {
                        font-size: 0.65rem;
                        border-width: 1px;
                        padding: 0.2rem;

                        &:last-child {
                            border-right: 1px solid #ccc;
                        }
                    }
                }
            }
        }
    }
}
