.twocolumn {
    & .container {
        & .block1 {
            @extend .col-xl-6;
            @extend .col-lg-6;
            @extend .col-md-6;
            @extend .col-sm-12;

            & img {
                @extend .w-100;
            }
        }

        & .block2 {
            padding: 0 15px 0 0;

            @extend .col-xl-6;
            @extend .col-lg-6;
            @extend .col-md-6;
            @extend .col-sm-12;
            @extend .my-auto;

            & > img {
                margin-bottom: 10px;
            }
        }
    }

    &.biology-of-repair-hero {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        & .block1,
        & .block2 {
            & p {
                color: $textprimary-color;
            }
        }

        & .block1 {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 50%;
            max-width: 50%;
            flex: 0 0 50%;

            & p {
                text-align: center;
            }
        }

        & .block2 {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            width: 50%;
            flex: 0 0 50%;

            & h2 , & h1 {
                width: 992px;
                max-width: 992px;
                text-align: center;
                font-family: "MyriadPro-SemiboldCond";
                font-size: 2.5rem;
                line-height: 1.1;
                color: $primary-color;
                margin-top: 10px;
                margin-bottom: 1rem;
                flex-basis: 65px;
            }
        }
    }
}

.twocolumnvideo {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    .row {
        .container {
            .row {
                & .col-12 {
                    & .row {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        & .block1,
                        & .block2 {
                            font-size: 1.75rem;
                            color: $primary-color;
                            font-family: "MyriadPro-Semibold";
                            width: 100%;
                            text-align: center;
                            text-decoration: underline;
                            margin-top: 0.5rem;
                            margin-bottom: 1rem;

                            & h2 {
                                font-size: 1.75rem;
                                color: $primary-color;
                                font-family: "MyriadPro-Semibold";
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobileMaxwidth) {
    .twocolumn {
        .container {
            max-width: 100%;

            & h2 {
                font-size: 1.2rem;
            }

            & p {
                font-size: $p-fontSize-mobile;
            }

            & .block1 {
                padding: 20px 8%;
            }

            & .block2 {
                padding: 20px 8%;
            }
        }

        &.biology-of-repair-hero {
            & .row {
                & .container {
                    & .row {
                        & .col-12 {
                            & .row {
                                flex-direction: column;

                                & .block1,
                                & .block2 {
                                    width: 100%;
                                    max-width: 100%;

                                    & h2 , & h1{
                                        width: 100%;
                                        max-width: 100%;
                                        text-align: center;
                                        font-family: "MyriadPro-SemiboldCond";
                                        font-size: 2.125rem;
                                        line-height: 1.1;
                                        color: $primary-color;
                                        margin-top: 10px;
                                        margin-bottom: 1rem;
                                    }

                                    & p {
                                        text-align: left;
                                        font-size: 1.125rem;
                                    }
                                }

                                & .block1 {
                                    order: 1;

                                    & p {
                                        text-align: center;
                                    }
                                }

                                & .block2 {
                                    order: 2;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .twocolumnvideo {
        .row {
            .container {
                .row {
                    & .col-12 {
                        & .row {
                            & .block1,
                            & .block2 {
                                font-size: 1.25rem;
                                padding-left: 2rem;
                                padding-right: 2rem;

                                & h2 {
                                    font-size: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $tabMinwidth) and (max-width: $tabMaxwidth) {
    .twocolumn {
        .container {
            max-width: 720px;

            & h2 {
                font-size: 1.4rem;
            }

            & p {
                font-size: $p-fontSize-tab;
            }
        }

        &.biology-of-repair-hero {
            & .block2 {
                & h2 , & h1{
                    max-width: 700px;
                    width: 700px;
                }
            }
        }
    }
}
